In [35]:
import pandas as pd

## Reading in Excel Document Where I added the Coordinates for Each University and Nearest City

In [52]:
locs_dist = pd.read_csv('locations_uni.csv')
locs_dist

,School_x,business_school,Acceptance Rate,Average Salary,School_Latitude,School_Longitude,Nearest MTA_Lat,Nearest MTA_Long,In the MTA?,City Chosen
0,University of Pennsylvania (Wharton),Wharton,0.0649,80354,39.952169,-75.193460,39.952769,-75.164078,Yes,Philadelphia
1,Washington University in St. Louis (Olin),Olin,0.0970,67115,38.651274,-90.311140,39.768689,-86.160549,No,Indianapolis
2,University of California-Berkeley (Haas),Haas,0.0430,73302,37.871880,-122.258541,37.769506,-122.420162,No,San Francisco
3,Cornell University (Dyson),Dyson,0.0290,74493,42.510492,-76.484029,40.711833,-74.006974,No,New York
4,University of Michigan (Ross),Ross,0.1200,72268,42.278271,-83.737891,42.331541,-83.045640,No,Detroit
...,...,...,...,...,...,...,...,...,...,...
83,University of Delaware (Lerner),Lerner,0.4640,54087,39.680713,-75.755743,39.952769,-75.164078,No,Philadelphia
84,University of Missouri-Columbia (Trulaske),Trulaske,0.6917,48827,38.942564,-92.329646,39.768689,-86.160549,No,Indianapolis
85,St. Louis University (Chaifetz),Chaifetz,0.8303,63333,38.637456,-90.235851,39.768689,-86.160549,No,Indianapolis
86,Sacred Heart University (Jack Welch),Jack Welch,0.6080,54784,41.220586,-73.242395,40.711833,-74.006974,No,New York
87,Duquesne University (Palumbo Donahue),Donahue,0.7600,50592,40.437479,-79.993720,39.952769,-75.164078,No,Philadelphia

In [53]:
# created single column with tuple for each school's latitude and longitude
locs_dist['New_School_Cord'] = list(zip(locs_dist['School_Latitude'],locs_dist["School_Longitude"]))

In [54]:
#created a single column with tuple of each nearest selected city's latitude and longitude
locs_dist['New_City_Cord'] = list(zip(locs_dist['Nearest MTA_Lat'],locs_dist['Nearest MTA_Long']))

## Distance Calculation Using Geopy

In [55]:
from geopy import distance

In [56]:
locs_dist['New_School_Cord']

0     (39.95216943, -75.19346047)
1     (38.65127384, -90.31113952)
2     (37.87188001, -122.2585412)
3     (42.51049151, -76.48402902)
4     (42.27827145, -83.73789088)
                 ...
83      (39.68071275, -75.755743)
84    (38.94256431, -92.32964577)
85     (38.6374555, -90.23585133)
86     (41.22058619, -73.2423947)
87    (40.43747921, -79.99371967)
Name: New_School_Cord, Length: 88, dtype: object

In [65]:
#code used using geopy's distance to calculate the distance between the school and city selected
locs_dist['Distance to Nearest City'] = locs_dist[['New_School_Cord','New_City_Cord']]\
.apply(lambda x: distance.distance(*x).miles,axis=1)

In [66]:
locs_dist.head()

,School_x,business_school,Acceptance Rate,Average Salary,School_Latitude,School_Longitude,Nearest MTA_Lat,Nearest MTA_Long,In the MTA?,City Chosen,New_School_Cord,New_City_Cord,Distance to Nearest City
0,University of Pennsylvania (Wharton),Wharton,0.0649,80354,39.952169,-75.193460,39.952769,-75.164078,Yes,Philadelphia,"(39.95216943, -75.19346047)","(39.95276917, -75.16407793)",1.560704
1,Washington University in St. Louis (Olin),Olin,0.0970,67115,38.651274,-90.311140,39.768689,-86.160549,No,Indianapolis,"(38.65127384, -90.31113952)","(39.76868853, -86.16054897)",235.684726
2,University of California-Berkeley (Haas),Haas,0.0430,73302,37.871880,-122.258541,37.769506,-122.420162,No,San Francisco,"(37.87188001, -122.2585412)","(37.76950648, -122.4201616)",11.315188
3,Cornell University (Dyson),Dyson,0.0290,74493,42.510492,-76.484029,40.711833,-74.006974,No,New York,"(42.51049151, -76.48402902)","(40.71183265, -74.0069742)",178.500330
4,University of Michigan (Ross),Ross,0.1200,72268,42.278271,-83.737891,42.331541,-83.045640,No,Detroit,"(42.27827145, -83.73789088)","(42.33154136, -83.04563958)",35.657174

## There was one value inputed incorrectly that I had to change

In [68]:
locs_dist['Distance to Nearest City'].max()

6501.085681999584

In [67]:
max_distance = locs_dist["Distance to Nearest City"].max()
locs_dist.loc[locs_dist['Distance to Nearest City']== max_distance, ['School_x','Distance to Nearest City','City Chosen','Nearest MTA_Lat','Nearest MTA_Long']]

,School_x,Distance to Nearest City,City Chosen,Nearest MTA_Lat,Nearest MTA_Long
62,University of Wisconsin-Madison,6501.085682,Milwaukee,43.037596,-87.908132

In [61]:
locs_dist.loc[62,'Nearest MTA_Long']= -87.908132

In [62]:
locs_dist.iloc[62]

School_x                    University of Wisconsin-Madison
business_school                                   Wisconsin
Acceptance Rate                                        0.35
Average Salary                                        58603
School_Latitude                                   43.072622
School_Longitude                                  -89.40139
Nearest MTA_Lat                                   43.037596
Nearest MTA_Long                                 -87.908132
In the MTA?                                              No
City Chosen                                       Milwaukee
New_School_Cord                    (43.07262238, -89.40139)
New_City_Cord                    (43.03759575, 87.90813192)
Distance to Nearest City                        6501.085682
Name: 62, dtype: object

In [63]:
locs_dist.iloc[62]

School_x                    University of Wisconsin-Madison
business_school                                   Wisconsin
Acceptance Rate                                        0.35
Average Salary                                        58603
School_Latitude                                   43.072622
School_Longitude                                  -89.40139
Nearest MTA_Lat                                   43.037596
Nearest MTA_Long                                 -87.908132
In the MTA?                                              No
City Chosen                                       Milwaukee
New_School_Cord                    (43.07262238, -89.40139)
New_City_Cord                    (43.03759575, 87.90813192)
Distance to Nearest City                        6501.085682
Name: 62, dtype: object